.blink{
    color: coral;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px #080808;
    animation-name: colorful;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
    @keyframes colorful {
        0% {
          color: blue;
        }
        25%{
            color: rgb(47, 122, 124);
        }
        50%{
            color: rgb(189, 58, 90);
        }
        100% {
          color: rgb(243, 127, 19);
        } 
      }


.top-image{
   padding-top: 5%;
   padding-bottom: 10%;
   color: rgb(194, 132, 52);
}

.head{
    background-color: rgb(111, 182, 146);
}

.middle-image{
    padding-top: 5%;
    padding-bottom: 5%;
    
}

.div{
    color: rgb(93, 68, 209);
}

.head1{
    padding-top: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 300;
    color: rgb(218, 78, 106);

}
.bottom-image{
    padding-top: 1%;
    padding-bottom: 5%;   
}